@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=MonteCarlo&family=Oswald:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato',sans-serif;
}

.outerBox{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,#50C878,#7effa9);
}

.innerBox{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    /* background-color: #ffffff09; */
    background: linear-gradient(to top left, #ffffffff,rgb(249, 249, 88));
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px gray;
    z-index: 5;

}

.signupHeading h1{
    font-size: 2.5rem;
    color: #50C878;
    font-family: 'Oswald', sans-serif;
}

.signupHeading p{
    font-size: 1.3rem;
    color: #6c6b6b;
    font-family: 'Lato', cursive;

}

.signupBody{
    margin: 20px 0;
}

.signupBody p{
    margin: 10px 0;
}

.signupBody p label{
    display: block;
    font-weight: bold;
    color: #50C878;
}

.signupBody p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    font-size: 1rem;
    margin-top: 3px;
}

.signupBody p input[type="submit"]{
    background-color: #50C878;
    border: none;
    color: white;
    cursor: pointer;
}

.signupBody p input[type="submit"]:hover{
    background-color: #52ec86;
}

.signupFooter p{
    color: #6c6b6b;
    text-align: center;
}

.signupFooter p a{
    color: #50C878;
}

.circles{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to top right,#ffffff33,#ffffffff);
    position: absolute;
}

.c1{
    top:100px;
    left: 40px;
}

.c2{
    bottom: 200px;
    right: 50px;
}




